.fileinput-upload-button{display:none;}
.file-input-new > form-control{display:none;}
.file-input.file-input-small {width: 350px;}
.file-preview-frame.file-preview-initial.file-preview-deleted {background-color: #ffaaaa; opacity: 0.5;}